---
---
    <main>
        <div class="flex justify-center items-center h-screen">
            <div class="w-2/3 h-4/5">
            <ul class="mb-8 h-full">
                <li class="mb-4">
                <div class="flex bg-white items-center rounded-3xl w-2/3 h-fit shadow-2xl">
                    <div class="w-64 h-52 overflow-hidden rounded-3xl">
                    <img class="w-56 h-52 rounded-3xl hover:scale-110 duration-150" src="src/images/sushi.png" alt="Produto 1">
                    </div>
                    <div class="ml-4 w-full">
                        <p class="font-bold text-lg mb-2">Sushi's King</p>
                        <p class="text-gray-600">Price: $10.00</p>
                        <p class="text-gray-600">Description: Experience the artistry of Japanese cuisine with Sushi's King. This dish features a perfect blend of seasoned rice, fresh seafood, and vibrant vegetables, all rolled into delightful bites. The combination of flavors, textures, and dipping sauces creates a truly royal sushi experience.</p>
                    </div>
                </div>
                </li>
                <li class="mb-4">
                <div class="flex bg-white items-center rounded-3xl w-2/3 h-fit shadow-2xl">
                    <div class="w-64 h-52 overflow-hidden rounded-3xl">
                    <img class="w-56 h-52 rounded-3xl hover:scale-110 duration-150" src="src/images/beef.png" alt="Produto 1">
                    </div>
                    <div class="ml-4 w-full">
                        <p class="font-bold text-lg mb-2">Royal Beaf</p>
                        <p class="text-gray-600">Price: $25.00</p>
                        <p class="text-gray-600">Description: Indulge in the exquisite flavors of Royal Beef. Succulent beef tenderloin is accompanied by a rich red wine reduction infused with shallots, garlic, and herbs. Served with sautéed mushrooms, this dish offers a luxurious and memorable dining experience.</p>
                    </div>
                </div>
                </li>
                <div class="flex bg-white items-center rounded-3xl w-2/3 h-fit shadow-2xl">
                    <div class="w-64 h-52 overflow-hidden rounded-3xl">
                    <img class="w-56 h-52 rounded-3xl hover:scale-110 duration-150" src="src/images/chicken.png" alt="Produto 1">
                    </div>
                    <div class="ml-4 w-full">
                        <p class="font-bold text-lg mb-2">Royal Chicken</p>
                        <p class="text-gray-600">Price: $20.00</p>
                        <p class="text-gray-600">Description: Indulge in the royal flavors of tender chicken breast topped with a creamy mushroom sauce. Enhanced with fresh herbs and shallots, this dish is a culinary delight. Elevate your dining experience with the luxurious taste of Royal Chicken.</p>
                    </div>
                </div>
                </li>
                <!-- Repetir o bloco acima para cada produto na lista -->
            </ul>
            </div>
        </div>
    </main>
<style>
  @import 'tailwindcss/base';
  @import 'tailwindcss/components';
  @import 'tailwindcss/utilities';
</style>
